<h1>Distiller <%= @distiller.name %></h1>
<h2>Country: <%= link_to @distiller.country_name, region_path(@distiller.region) %></h2>
  
<h3>Whiskey's from this Distiller</h3>

<% if !current_user.distillers.include?(@distiller) %>
  <h4>Your presently do not like any whiskeys from this distiller</h4>
<% else %>
  <h4>Whiskeys from Distiller you like </h4>
<% end %>
  <% @distiller.whiskeys.each do |whiskey|  %>
    <% if current_user.whiskeys.include?(whiskey) %>
     <h4><%= link_to "Name: #{whiskey.name}", whiskey_path(whiskey) %>  <%= whiskey.proof %>  Proof </h4>
    <% end %>
  <% end %>
    <h4> Whiskeys from Distiller you may like </h4>
  <% @distiller.whiskeys.each do |whiskey|  %>
    <% if !current_user.whiskeys.include?(whiskey) %>
     <h4><%= link_to "Name: #{whiskey.name}", whiskey_path(whiskey) %>  <%= whiskey.proof %>  Proof </h4>
    <% end %>
  <% end %>
