<h3><%= @user.name %></h3>


<h2>Favorite Whiskeys: <%= @user.whiskey_count %></h2>
<h2>Favorite Distillers: <%= @user.distillers_count %></h2>

<% @user.whiskeys.each do |whiskey| %>
  <%= link_to whiskey.distiller.name, user_distiller_path(@user, whiskey.distiller) %> | <%= whiskey.name %> | <%= whiskey.distiller.region.country %>
  <% end %>
