<h3><%= @user.name %> </h3>


  <h2 class="favWhiskey">Favorite Whiskeys</h2>

<div class="whiskeyList"></div>





<h2><%= link_to "Favorite Distillers: #{@user.distillers_count}", user_distillers_path(@user) %></h2>

<% @user.whiskeys.each do |whiskey| %>
  <li>
  Distiller:  <%= link_to whiskey.distiller.name, user_distiller_path(@user, whiskey.distiller) %> | Whiskey Name: <%= whiskey.name %> | Region: <%= whiskey.distiller.region.country %>
  </li>
  <% end %>
