

<h1>Distiller: <%= link_to @whiskey.distiller_name ,user_distiller_path(current_user, @whiskey.distiller)  %></h1>
<h2>Whiskey Name: <%= @whiskey.name %></h2>
  <ul>
    <li>Country: <%=link_to @whiskey.country, region_path(@whiskey.distiller.region)  %> </li>

  </ul>

  <%= link_to "Edit Whiskey", edit_whiskey_path(@whiskey)  %>
  <% if !current_user.whiskeys.include?(@whiskey) %>
      <%= link_to "Add to favorties",  add_whiskey_path, method: :post%>
  <% else %>
      <%= link_to "Remove from favorties", remove_whiskey_path, method: :put %>
  <% end %>

    <%= link_to "Add Comment",   new_user_whiskey_comment_path(current_user, @whiskey) %>

    <% @whiskey.comments.each do |comment|%>
      <%= comment.content %>

    <% end %>
