<h1>Distiller: <%= @whiskey.distiller_name %></h1>
<h2>Whiskey Name: <%= @whiskey.name %></h2>
  <ul>
    <li>Country: <%= @whiskey.country %> </li>
    <li>Region: <%= @whiskey.sub_region %></li>
  </ul>

  <%= link_to "Edit Whiskey", edit_whiskey_path(@whiskey)  %>
  <%= link_to "Add to favorties",  add_whiskey_path, method: :post%>

<!-- TODO: link to show pages for, counrty, region, distiller -->
